always-display-description true
auto-reload yes
reload-time 1
confirm-exit no
color background          yellow black
color listnormal          yellow black
color listfocus           yellow  black bold
color listnormal_unread   yellow black
color listfocus_unread    black yellow bold
color info                black yellow bold
color article             yellow black
datetime-format "%R %D"
articlelist-format "%D | %?T?;%-17T; ?%t"
