default_rate "1"
default_show "30"
default_maxitems "50"

#Add some feeds
add "http://www.wsj.com/xml/rss/3_7031.xml" "Markets"
add "http://www.wsj.com/xml/rss/3_7014.xml" "Business"
add "http://www.wsj.com/xml/rss/3_7085.xml" "World News"
add "http://www.wsj.com/xml/rss/3_7455.xml" "Technology"

#These aren't defaults, but examples
browser "/usr/bin/w3m %u"

#Text browsers should enable this
browser_wait "1"

