Source: hollywood
Section: games
Maintainer: Dustin Kirkland <dustin.kirkland@gmail.com>
Build-Depends:
 debhelper-compat (= 14),
Standards-Version: 4.7.4
Vcs-Browser: https://salsa.debian.org/games-team/hollywood
Vcs-Git: https://salsa.debian.org/games-team/hollywood.git
Homepage: https://hollywood.computer

Package: hollywood
Architecture: all
Depends:
 ${misc:Depends},
 byobu,
 tmux,
Recommends:
 apg,
 atop,
 bat,
 bmon,
 bsdextrautils,
 ccze,
 cmatrix,
 figlet,
 htop,
 jp2a,
 plocate | locate,
 moreutils,
 mplayer,
 openssh-client,
 pv,
 python3-pygments,
 speedometer,
 tree,
Description: fill your console with Hollywood melodrama technobabble
 This utility will split your console into a multiple panes of genuine
 technobabble, perfectly suitable for any Hollywood geek melodrama.
 It is particularly suitable on any number of computer consoles in the
 background of any excellent schlock technothriller.

Package: wallstreet
Architecture: all
Depends:
 ${misc:Depends},
 byobu,
 tmux,
Recommends:
 caca-utils,
 newsboat,
 python3,
 rsstail,
 ticker,
 wget,
 w3m,
Description: fill your console with Wall Street-like news and stats
 This utility will split your console into a multiple panes of news
 and statistics, like any good computer screen on Wall Street.
